[submodule "computer-graphics/first/lib/glm"]
	path = computer-graphics/first/lib/glm
	url = https://github.com/g-truc/glm
[submodule "computer-graphics/first/lib/assimp"]
	path = computer-graphics/first/lib/assimp
	url = https://github.com/assimp/assimp
